.max{
    background-color:lightgreen;
}
.min{
    background-color:lightcoral;
}

mat-button-toggle-group {
    margin-left: 12px;
}

.boule_selected {
    background-color: lightblue;
}
.chance_selected {
    background-color: lightyellow;
}