<div class="content" role="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Loto results analysis</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card style="text-align: center;" *ngIf="calculInProgress">
    <mat-card-content>
      Calcul in progress
    </mat-card-content>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <div class="row justify-content-center" style="width: 94%; margin:3%;">
      <div class="col-sm-10 col-md-4 col-lg-3  align-self-center">
        <div style="margin: 35%; text-align: center;">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);" *ngIf="!calculInProgress">

      <mat-tab label="Number statistics">
        <mat-card style="text-align: center;" *ngIf="!getdata">
          <mat-card-content>
            Import data first
          </mat-card-content>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card>
        <div class="row justify-content-center" style="width: 94%; margin:3%;" *ngIf="getdata">
          <div class="col-sm-10 col-md-6 col-lg-4  align-self-center" style="padding: 5%;">
            <table mat-table [dataSource]="boules" matSort (matSortChange)="sortData(boules, $event)" class="mat-elevation-z8" style="width: 100%;">

              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'max': (element.number==maxB1 || element.number==maxB2 || element.number==maxB3 || element.number==maxB4 || element.number==maxB5), 'min': (element.number==minB1 || element.number==minB2 || element.number==minB3 || element.number==minB4 || element.number==minB5)}"> {{element.number}} </td>
              </ng-container>
            
              <ng-container matColumnDef="apparition">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> X </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'max': (element.number==maxB1 || element.number==maxB2 || element.number==maxB3 || element.number==maxB4 || element.number==maxB5), 'min': (element.number==minB1 || element.number==minB2 || element.number==minB3 || element.number==minB4 || element.number==minB5)}"> {{element.apparition}} </td>
              </ng-container>

              <ng-container matColumnDef="pourcentage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'max': (element.number==maxB1 || element.number==maxB2 || element.number==maxB3 || element.number==maxB4 || element.number==maxB5), 'min': (element.number==minB1 || element.number==minB2 || element.number==minB3 || element.number==minB4 || element.number==minB5)}"> {{element.pourcentage}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['number', 'apparition', 'pourcentage']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['number', 'apparition', 'pourcentage'];"></tr>
            </table>
          </div>
          <div class="col-sm-10 col-md-6 col-lg-4 " style="height: 100%; padding: 5%; background-color: lightyellow;">
            <table mat-table [dataSource]="chance" matSort (matSortChange)="sortData(chance, $event)" class="mat-elevation-z8" style="width: 100%;">

              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'max': element.number==maxC, 'min': element.number==minC}"> {{element.number}} </td>
              </ng-container>
            
              <ng-container matColumnDef="apparition">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> X </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'max': element.number==maxC, 'min': element.number==minC}"> {{element.apparition}} </td>
              </ng-container>

              <ng-container matColumnDef="pourcentage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'max': element.number==maxC, 'min': element.number==minC}"> {{element.pourcentage}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['number', 'apparition', 'pourcentage']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['number', 'apparition', 'pourcentage'];"></tr>
            </table>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Grid statistics">
        <mat-card style="text-align: center;" *ngIf="!getdata">
          <mat-card-content>
            Import data first
          </mat-card-content>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card>
        <div class="row justify-content-center" style="width: 94%; margin:3%;" *ngIf="getdata">
          <div class="col-sm-11 col-md-10 col-lg-8  align-self-center" style="padding: 5%;">
            <mat-card style="text-align: center;" *ngIf="!calculdone">
              <mat-card-content>
                <button mat-raised-button color="primary" (click)="calcul()">Generate combinations</button>
              </mat-card-content>
            </mat-card>

            <table mat-table [dataSource]="displayedmore ? grid : grid_small" class="mat-elevation-z8" style="width: 100%;" *ngIf="calculdone">

              <ng-container matColumnDef="numbers">
                <th mat-header-cell *matHeaderCellDef> N° </th>
                <td mat-cell *matCellDef="let element" > {{element.numbers}} </td>
              </ng-container>
            
              <ng-container matColumnDef="chance">
                <th mat-header-cell *matHeaderCellDef> Chance </th>
                <td mat-cell *matCellDef="let element" style="background-color: lightyellow;"> {{element.chance}} </td>
              </ng-container>

              <ng-container matColumnDef="price" >
                <th mat-header-cell *matHeaderCellDef> € </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'min': element.price<0}"> {{element.price}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['numbers', 'chance', 'price']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['numbers', 'chance', 'price'];"></tr>
            </table>

            <div class="row justify-content-center" style="width: 94%; margin:3%" *ngIf="calculdone && !displayedmore">
              <button mat-raised-button color="primary" (click)="displaymore()">Display more</button>
            </div>
          </div>
        </div>


      </mat-tab>

      <mat-tab label="Prediction">
        <mat-card style="text-align: center;" *ngIf="!getdata">
          <mat-card-content>
            Import data first
          </mat-card-content>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card>
        <mat-card style="text-align: center;" *ngIf="getdata && grid.length==0">
          <mat-card-content>
            Generate combinations first in "Grid statistics"
          </mat-card-content>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card>
        <div class="row justify-content-center" style="width: 94%; margin:3%;" *ngIf="getdata && grid.length!=0">
          <div class="col-sm-10 col-md-6 col-lg-4" style="padding: 5%;">
            <p>Select 5 numbers</p>
            <div class="row justify-content-center" *ngIf="getdata">
              <button mat-stroked-button color="basic" (click)="number_b(i)" [ngClass]="{'boule_selected': selected_numbers.includes(i)}" *ngFor="let i of numbersB" >{{i}}</button>
            </div>
          </div>
          <div class="col-sm-10 col-md-4 col-lg-3" style="padding: 5%;">
            <p>Select 1 number</p>
            <div class="row justify-content-center" *ngIf="getdata">
              <button mat-stroked-button color="basic" (click)="number_c(i)" [ngClass]="{'chance_selected': selected_chance==i}" *ngFor="let i of numbersC" >{{i}}</button>
            </div>
          </div>
          
          <div class="col-sm-10 col-md-4 col-lg-3" style="padding: 5%;">
            <button mat-raised-button color="primary" (click)="calculate_prediction()">Prediction</button>
            <mat-card style="text-align: center;" *ngIf="prediction!=null">
              <mat-card-content>
                <p [ngClass]="{'min': prediction<0}">{{prediction}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Data import">
        <div class="row justify-content-center" style="width: 94%; margin:3%;">
          <div class="col-sm-10 col-md-4 col-lg-3  align-self-center"  style="padding-top: 5%;">
            <mat-card style="text-align: center;">
              <mat-card-content>
                <div class="form-group">
                  <label for="file"></label>
                  <input type="file"
                         id="file"
                         (change)="handleFileInput($event)"
                         multiple >
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="warn" (click)="db_delete()">Delete db</button>
                <button mat-raised-button color="primary" (click)="readFiles()">Import files</button>
              </mat-card-actions>
            </mat-card>
            <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
            <div style="margin: 35%; text-align: center;" *ngIf="inProgress">
              <mat-spinner></mat-spinner>
            </div>
            <div style="padding-top: 10%; text-align: center;">
              <mat-icon aria-hidden="false" aria-label="" *ngIf="progress==100" style="color:green">done_outline</mat-icon>
              <mat-icon aria-hidden="false" aria-label="" *ngIf="deleted" style="color:green">delete_outline</mat-icon>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>